.input-text-label input {
  width: 15rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px var(--primary);
  padding: 4px;
}

.input-text-label input:focus {
  outline: none;
}
