.input-text-label input {
  margin-top: 2px;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px var(--primary);
  padding: 2px;
}

.input-text-label input:focus {
  outline: none;
}

input[type="text"] {
    font-size: 18px;
}
