.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.login-container form {
  width: 40vw;
  display:  flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-container form div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.spaceBar {
  border-right: solid 3px var(--primary);
}

img {
  width: 100%;
  max-width: 240px;
  border-radius: 5px
}

#input-color {
  width: 15rem;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .login-container form {
    display: flex;
    flex-direction: column;
  }

  .login-container form .right {
    border: none;
  }
  
}