.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.login-container form {
  display:  flex;
}

.login-container form div {
  display:  flex;
  flex-direction: column;
  gap: 36px;
}

.login-container form .left {
  padding: 18px 36px;
  justify-content: space-around;
  border-right: solid 3px var(--primary);
}

img {
  width: 100%;
  max-width: 240px;
  border-radius: 5px
}

.login-container form .right {
  padding: 72px 36px;
  justify-content: space-around;
}

.login-container form .right .input-text-label input {
  margin-top: 2px;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px var(--primary);
  padding: 2px;
}

.login-container form .right .input-text-label input:focus {
  outline: none;
}

.login-container form .right .input-text-label input[type="text"] {
    font-size: 18px;
}

.input-color-text-label .input-color {
  margin-top: 2px;
  width: 15rem;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .login-container form {
    flex-direction: column;
  }

  .login-container form .left {
    border: none;
  }
}
