.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

.login-container form {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.login-container form .right, .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 12px;
}

.login-container form .right {
  border-right: solid 3px var(--primary);
}

img {
  width: 80%;
  border-radius: 5px;
}
