.button-ui {
  padding: 12px 48px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
  width: 15rem;
}

.button-ui:hover {
  background-color: #2a2d36;
}
